body {
	background-color : #DDDDDD;
	/*width : 100%;*/
	font-family : sans-serif;
	padding-left : 20px;
}


h1 {
	background-color: white;
	color : rgb(60,60,60);
	padding : 5px;
	border-radius : 4px;
	width : 805px;
	box-shadow : 0px 0px 2px 2px rgba(80,64,64,0.5);
}

div#panier, div#boutique {
	background-color: white;
	display : inline-block;
	vertical-align: middle;
	/*height : 100%;*/
}

div#boutique {
		width : 75%;
}



div#panier, div#boutique {
  box-shadow : 0px 0px 2px 2px rgba(80,64,64,0.5);
	padding : 2px;
	border-radius : 4px;
}

div.achats {
	height : 480px;
	border : solid thin rgba(80,64,64,0.5);
	padding : 2px;
	border-radius : 4px;
}

div#panier { 
	width : 22%;
	text-align : center;
}

input#filter {
	width : 95%;
	padding: 5px;
}

/* produits */
div.produit {
	width : 32%;
	position : relative;
	text-align : center;
	height : 450px;
	display : inline-block;
	background-color: rgba(255,255,255,0);
	box-shadow : 0px 0px 6px 2px  grey inset;
	border-radius : 4px;
	margin : 4px 4px;
}

div.produit figure, div.produit div.description {
	box-shadow : 0px 0px 4px 2px grey inset;
	border-radius : 4px;	
}

.imgproduct {
	 width:75%
 }

div.produit div.description, div.controle  {
	vertical-align : middle;
	display : inline-block;
}
div.produit div.description {
	height : 15%;
	width : 50%;
	text-align : left;
	font-size : 20px;
	background-color: white;
	margin : 2px 2px 2px 2px;
	padding : 3px 15px;
}
	
div.produit div.prix {
	position : absolute;
	top : 35px;
	right : 15px;
	font-size : 16px;
	display : inline-block;
	background-color : rgb(200,0,0);
	color : white;
	padding : 4px;
	border-radius : 4px;
}
div.prix:after, #montant:after {
	content : " €"
}


/* controle */
button.commander {
	width : 25px;
	height : 25px;
	background-size : cover;
	border : solid 2px white;
	opacity : 0.25;
}

button.commander {
	background-image : url("./images/panier.jpg");
}

#total {
	background-color : rgb(46,46,46);
	color :white;
	border-radius : 4px;
	margin : 4px 2px;
	padding : 2px;
}


